<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
  <script src="script.js" defer></script>
  <link rel="stylesheet" type="text/css" href="style.css" ></head>
</head>

<body>
  <div id='app' v-cloak>
    <h1>Hi-Low</h1>
    <p>We have chosen a number between 1 and 100 (inclusive). Guess the number.</p>
    <div>
        <input id="guessInput" v-model="guess">
        <button id="guessButton" v-on:click="takeGuess()" v-if="guessNumber < 10 && !won">Guess</button>
    </div>
    <p id="reply">{{ message }}</p>
    <p id="guessesLeft" v-if="!won">You have {{ 10 - guessNumber }} guesses left.</p>
    <button id="playAgainButton" v-on:click="playAgain()" v-if="guessNumber >= 10 || won">Play Again</button>

  </div>
</body>

</html>

